<form class="" action="/chitter/register" method="get">
  <input type="submit" name="" value="register">
</form>

<form class="" action="/chitter" method="post">
  <input type="text" name="post" value="">
  <input type="submit" name="" value="submit">
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep">
        <%= peep.post %> - posted <%= LapsedTime.calculate(peep) %>
    </li>
  <% end %>
</ul>
