<form class="" action="/chitter" method="post">
  <input type="text" name="post" value="">
  <input type="submit" name="" value="submit">
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep">
        <%= peep.post %> - posted <%= Time.now - Time.parse(peep.timestamp) %> seconds ago
    </li>
  <% end %>
</ul>
