<form class="" action="/chitter/register" method="post">
  Name: <input type="text" name="name" placeholder="What is your first name?"value="">
  Surname: <input type="text" name="surname" placeholder="What is your last name?"value="">
  Handle: <input type="text" name="handle" placeholder="Please choose a username"value="">
  Email: <input type="text" name="email" placeholder="What is your email address?"value="">
  Password: <input type="text" name="password" placeholder="Please choose a password"value="">
  <input type="submit" name="" value="register">
</form>
